<?xml version='1.0' encoding='utf-8'?>
<widget id="io.lasourisverte" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>lasourisverte</name>
    <description>
       La souris verte
    </description>
    <author email="hilairehugo@gmail.com" href="http://hugohil.ninja">
        hugohil
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
